.field {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.cells {
    border: 1px solid grey;
    width: 38px;
    height: 38px;
    margin: auto;
}

.cellship {
    background-color: rgba(38, 235, 21, 0.932);
}

.cellship_hit {
    background-color: rgba(238, 103, 13, 0.932);
}

.cellship_miss {
    background-color: rgba(194, 202, 228, 0.932);
}
